<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pyuploadcare-SqlAlchemy Demo Page</title>
  <script>UPLOADCARE_PUBLIC_KEY = "demopublickey";</script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ucarecdn.com/widget/2.5.5/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>
</head>
<body>
  <form action="{{ url_for('add_photo') }}" method="POST">
    <input type="hidden" role="uploadcare-uploader" name="my_file" />
    <button>Submit</button>
  </form>

  <h3>Uploaded photos</h3>
  {% for item in items %}
    <img src="{{ item.photo.cdn_url }}" />
  {% else %}
    <p>Empty</p>
  {% endfor %}
</body>
</html>
